version: '3.0'

services:
  go-boilerplate:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: go-boilerplate
    image: go-boilerplate:self-built
    restart: always
    ports:
      - 1025:1025

networks:
  default:
    external:
      name: Network-Boilerplate
